<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TuneInMind - Welcome Page</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="./css/styles.css" rel="stylesheet" /> -->
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton&effect=neon">
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#page-top">TuneInMind</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto my-2 my-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#introduction">Introduction</a></li>
                  <li class="nav-item"><a class="nav-link" href="#services">Proposed Solution</a></li>
                  <li class="nav-item"><a class="nav-link" href="#evaluation">Performance & Evaluation</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Conclusion</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
          <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-8 align-self-end">
                  <!-- <h1 class="text-white font-weight-bold" style="font-family: 'Grand Hotel', cursive;">TuneInMind</h1> -->
                  <h1 class="font-effect-neon" style="font-family: 'Grand Hotel', cursive; font-size: 100px;">TuneInMind</h1>
                  <hr class="divider" />
              </div>
              <div class="col-lg-8 align-self-baseline">
                  <p class="text-white-75 mb-5"> <b>Your Moods, Our Music - The Exquisite Combination</b>  <br><br> Discover your perfect soundtrack with our session-based music recommendation system that curates playlists to match your current mood!</p>
                  <a class="btn btn-primary btn-xl" href="/session">Start Session</a>
              </div>
              <div class="container px-4 px-lg-5"><div class="small text-center text-muted" style="color: black;">Copyright &copy; 2023 - TuneInMind</div></div>
          </div>
      </div>
  </header>
  <!-- About-->
  <section class="page-section bg-primary" id="introduction">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-12">
                <h1 class="text-white mt-0 text-center">Introduction / Problem Background / Motivation</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4 fs-4">Present recommender systems do not take into account the current session based mood of the user. Recommendations are given based on user’s complete listening history</p>
                <ul class="text-white-75 mb-4 fs-5">
                    <li>TuneInMind solves this by taking into consideration the user's Session-based information.</li>
                    <li>We leverage the lyrics aggregate data as well as the spotify accoustic data to derive the current session mood of a user.</li>
                    <li>Machine Learning models like Random Forest Classifiers are used to predict the probabilities of each mood.</li>
                    <li>We recommend songs based on the aggregate mood vector of the session's songs. Moods : Happy, Sad, Relaxed, Angry</li>
                    <li>This will ensure that user gets appropriate song recommendations pertaining to his/hers current mood.</li>
                </ul>
            </div>
            <div class="col-lg-9 text-center">
                <a class="btn btn-light btn-xl" href="#services">Proposed Solution</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Proposed Solution</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-clipboard-data fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Dataset Creation</h3>
                    <p class="text-muted mb-0">Songs included in the dataset must be available on both Genius and Spotify. We collected the data using two methods: querying the Spotify API for song features of a given track in the Genius dataset, and searching for song lyrics on the Genius API for Spotify song samples.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-music-note-list fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Predict Moods from lyrics</h3>
                    <p class="text-muted mb-0">A random forest classification model is used to process song lyrics and predict the probability distribution of four mood attributes: Happy, Sad, Relax, and Angry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-music-player fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Predict Moods from Spotify features</h3>
                    <p class="text-muted mb-0">Six track features (Danceability, Loudness, Valence, Acousticness, Tempo, and Energy) are obtained using the Spotify API's "Get Track's Audio Features" and pre-processed (normalized and scaled) to be used as inputs to the classification model. The model then predicts the mood distribution for four moods.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-collection-play fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Item-Item Collaborative filtering</h3>
                    <p class="text-muted mb-0">During the current session, the "session aggregate mood vector" is created by combining the individual mood distribution vectors of the songs played. This vector is then used to apply Item-Item Collaborative Filtering, which recommends five songs that are most similar to the ones played during the session. The Current Mood label is obtained by aggregating mood attributes derived from both Acoustic and Lyrics data.</p>
                </div>
            </div>
        </div>
        <br>
        
    <div class="container-fluid p-0">
      <div class="row g-0">
          <div style = "width: 45%; margin-left: 50px;" class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="../static/assets/img/TuneInMind_1.png" title="Project Name">
                  <img class="img-fluid" src="../static/assets/img/TuneInMind_1.png" alt="..." />
                  <div class="portfolio-box-caption">
                      <!-- <div class="project-category text-white-50">Category</div> -->
                      <div style = "text-align: center" class="project-name">Data Preprocessing</div>
                  </div>
              </a>
          </div>
          <div style = "width: 45%; margin-left: 40px;" class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="../static/assets/img/TuneInMind_2.png" title="Project Name">
                  <img class="img-fluid" src="../static/assets/img/TuneInMind_2.png" alt="..." />
                  <div class="portfolio-box-caption">
                      <!-- <div class="project-category text-white-50">Category</div> -->
                      <div style = "text-align: center" class="project-name">Session based Recommendations</div>
                  </div>
              </a>
          </div>
      </div>
   </div>
    </div>
</section>
<!-- Evaluation-->
<div id="evaluation">
    <!-- <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div> -->
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Performance and Evaluation</h2>
        <p>In recommender systems, evaluation is the process of assessing the performance and quality of the recommendations produced by the system. It involves measuring how well the recommender system predicts user preferences or behavior, and how effective the recommended items are in satisfying the user's needs.</p>
        <p class="mb-5">In our case we have evaluated recommendations in two cases for our performance evaluation. First case is toggle on (This is feature developed by our team), In this case lyrics data is also pre-processed and analyzed along with Spotify acoustic data for generating recommendations. Second case is toggle off, In this case lyrics data is not considered, only Spotify acoustic data is considered for generating mood based recommendations.</p>
        <!-- <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a> -->
    </div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div style = "width: 45%; margin-left: 50px;" class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/evaluate1.png" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/evaluate1.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <!-- <div class="project-category text-white-50">Category</div> -->
                        <div style = "text-align: center" class="project-name">Results with lyrics data</div>
                    </div>
                </a>
            </div>
            <div style = "width: 45%; margin-left: 40px;" class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="../static/assets/img/evaluate2.png" title="Project Name">
                    <img class="img-fluid" src="../static/assets/img/evaluate2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <!-- <div class="project-category text-white-50">Category</div> -->
                        <div style = "text-align: center" class="project-name">Results without lyrics data</div>
                    </div>
                </a>
            </div>
        </div>
     </div>
     <div class="container px-4 px-lg-5 mt-5 text-center">
     <p>Comparing results in above two cases, we can see that performance is significantly improved with introduction of lyrics based moods. With usage of lyrics data , the recommendations are better generated. For happy and relaxed we can see that happy mood songs are recommended. Where as in the older case(without lyrics data) recommendations are slightly off the mark.</p>
    </div>  
</section>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <!-- <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Conclusions/Discussion</h2>
                <hr class="divider divider-light" /> -->
                <div class="container px-4 px-lg-5">
                    <h2 class="text-center mt-0">Challenges</h2>
                    <hr class="divider" />
                    <!-- <br> -->
                <div class="row gx-4 gx-lg-5">
                    
                    <!-- <h3 style="text-align:center;"> Challenges </h3> -->
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            
                            <div class="mb-2"></div>
                            <h3 class="h4 mb-2">Dataset Generation</h3>
                            <p class="text-muted mb-0">As we used two APIs to generate data, combining their output to obtain common songs was 
                                difficult especially to generate large amounts of data. Our data also contains ground truth that is available 
                                only for a limited set of songs.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"></div>
                            <h3 class="h4 mb-2">User Session</h3>
                            <p class="text-muted mb-0">Session is determined by the number of songs that are 
                                used to build an aggregate vector that helps recommend new songs to the user. We experimented with different 
                                session lengths as it is a key factor to determine the model's
                                sensitivity to mood changes of the user</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"></div>
                            <h3 class="h4 mb-2">Mood Aggregation</h3>
                            <p class="text-muted mb-0">Once we obtain the list of songs in a session, it is important to understand how to aggregate these song vectors
                                to build the best song representation for the session mood. We tried different averaging methods and used a weighted average
                                approach although this again depends on the session length.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"></div>
                            <h3 class="h4 mb-2">Cold Start</h3>
                            <p class="text-muted mb-0">We are currently completely relying on the initial input of the user as we do not have user session data or user history data
                                to start with an initial session mood. Using user history data, we can assess the usual session mood of the user and use it as a starter
                                session mood.</p>
                        </div>
                    </div>
                </div>
                <p class="text-white-75 mb-4 fs-4">
                    <h3>Conclusion and Future Scope</h3>
                <br>
                This was an interesting project with a novel approach. It provides motivation to make music recommendation more user friendly. The results obtained are 
                promising and creates huge scope for growth in this area.
                There are many ideas to expand this recommender system and take it further. A search functionality could be included for the user to search for the songs
                they want to listen to. User mood patterns could also be studied from user listening history and song change behavior to better determine session
                length for each user. Feature Engineering could be improved expanding on the moods to generate larger vector representations leveraging both lyrics and 
                acoustic data. 

                </p>
                <p>
                    
                </p>
                <hr class="divider" />
                <p class="text-muted mb-5">Hope our app sets your mood right!</p>
            </div>
        </div>
        <!-- <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                </form>
            </div>
        </div> -->
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                
                <div>
                    <h3>Contributors</h3> 
                    <!-- <ul>
                        <li> Siddharth Devulapalli</li>
                        <li> Mounika Balivada</li>
                        <li> Sahithi Akiri</li>
                        <li> Rohan Gupta Kandikonda</li>

                    </ul> -->
                        <br>
                        <p> Mounika Balivada</p>
                        <p> Siddharth Devulapalli</p>
                        <p> Sahithi Akiri</p>
                        <p> Rohan Gupta Kandikonda</p>
    
                </div>
            </div>
        </div>
        <!-- <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>Contact us: +1 (555) 123-4567</div>
            </div>
        </div> -->
    </div>
</section>

  <!-- Footer-->
  <!-- <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - TuneInMind</div></div>
  </footer> -->
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- SimpleLightbox plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
  <!-- Core theme JS-->
  <script type = "text/javascript" src="../static/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- original -->
    <!-- <button onclick="startSession()">Start Session</button>

    <script>
      function startSession() {
        window.location.href = "/session";
      }
    </script> -->
  </body>
</html>
